footer{
  font-size: 0.8em;
  .row{
    &:first-child{
      height: 25px;
      background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1) 2px, rgba(255,255,255,1) 2px, rgba(255,255,255,1) 4px);
      span{
        float: right;
      }
    }
    &:nth-child(2){
      background-image: url("../../media/img/footerBackground.jpg");
      background-repeat: repeat;
      color: $color-white;
      .info{
        font-size: 0.9em;
        color: $color-gray-two;
      }
      hr{
        border-color: $color-gray-two;
      }
    }
  }
}
