header{
  background-image: url("../../media/img/headerBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-white;
  position: relative;
  min-height: 730px;
  .left-side{
    &.phone-image-box{
      background-image: url("../../media/img/iphone.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    height: 730px;
    width: 448px;
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .right-side{
    position: relative;
    display: inline-block;
    z-index: 10;
    height: 730px;

    .logo-container{
      margin-top: 50px;
      span{
        background-repeat: no-repeat;
        background-size: auto;
        display: inline-block;
      }
      span:first-of-type{

        width: 81px;
        height: 81px;
        background-image: url("../../media/img/logo.png");

      }
      span:nth-of-type(2){
        margin-left: 28px;
        width: 321px;
        height: 57px;
        background-image: url("../../media/img/logotyp.png");
      }

    }
    .title{
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
    }
    .description{
      font-weight: 100;
    }
    wp-timer{
      position: absolute;
      bottom: 0;
    }
  }
  .bottom-bg{
    position: absolute;
    width: 100%;
    height: 140px;
    bottom: 0;
    background-color: $color-gray-light;
  }
}