#howItsWorkPortlet{
  .title{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  .square-container{
    min-height: 300px;
    position: relative;
    .square{
      @include border-radius(50%);
      @include shadow-inset(4px, 8px, 20px, 0, rgba(0,0,0,0.3));
      width: 190px;
      height: 190px;
      margin-top: 10px;
      border-width: 15px;
      border-style: solid;
      display: inline-block;
      background-color: $color-white;
      border-color: $color-blue;
      &:hover{
        background-color: $color-yellow-light;
        border-color: $color-yellow;
        z-index:10;
        width: 210px;
        height: 210px;
        margin-top: 0;
      }
      .square-content{
        padding-top: 15px;
        width: 100%;
        height: 100%;
        .image{
          margin: 0 auto;
          width: 56px;
          height: 53px;
          background-image: url("./../../media/img/how_its_works_icon.png");
          background-repeat: no-repeat;
          &.person{background-position: 0 0;}
          &.phone{background-position: -56px 0;}
          &.exc{background-position: -112px 0;}
          &.order{background-position: -168px 0;}
        }

      }
      transition: all 0.3s;
      transition-property: all;
      transition-timing-function: linear;
    }
    .arrow{
      background-image: url("./../../media/img/how_its_works_arrow.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 43px;
      height: 31px;
      right: -12px;
      top: 107px;
      z-index: -10;


    }
  }
}