#rotatorPortlet{
  .slider-container{
    position: relative;
    height: 416px;
    width: 100%;
    background-color: $color-gray-one;
    .slide{
      position: absolute;
      width: 100%;
      height: 100%;

      .slider-image{
        position: absolute;
        left: 100px;
        img{
          @media (max-width: 400px) {
            display: none;
          }
        }
      }
      .slider-content{
        position: absolute;
        right: 100px;
        top: 100px;
        height: 100%;
        @media (max-width: $screen-sm-max) {
          position: relative;
          width: 100%;
          right: 0;
        }

        .text-content{
          background-color: $color-white;
          padding: 20px;
          width: 300px;
        }
      }
    }
    .arrows-container{
      position: absolute;
      width: 100%;
      z-index: 10;
      .arrow{
        width: 64px;
        height: 65px;
        background-image: url("./../../media/img/arrow_left.png");
        background-repeat: no-repeat;
        top: 180px;
        display: block;
        position: absolute;
        &.left{
          left: 10px;
        }
        &.right{
          @include rotate(180deg);
          right: 10px;
        }
      }
    }
  }
  nav{
    width: 100%;
    ul{
      li{
        display: inline-block;
        span{
          width: 18px;
          height: 17px;
          background-image: url("./../../media/img/dots.png");
          background-repeat: no-repeat;
          background-position: right;
          display: block;
          &.active{
            background-position: left;
          }
        }
      }
    }
  }
  .animate-show {
    opacity: 1;
    &.ng-hide-add, &.ng-hide-remove{
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: linear;
    }
    &.ng-hide{
      opacity: 0;
    }
  }
}
