.wp-timer{
  font-family: 'Oswald', sans-serif;
  .counter-box{
    color: $color-white;
    display: inline-block;
    &:first-child{
      position: relative;
      width: 104px;
      height: 77px;
      background-image: url("../../media/img/counter_title.png");
      background-repeat: no-repeat;
      padding-top: 10px;
      padding-left: 20px;
    }
    .content{
      color: $color-black;
      span{
        text-transform: uppercase;
        font-size: 16px;
        &:nth-child(2){
          font-size: 24px;
        }
      }
    }
    .counter-bg{
      width: 88px;
      height: 79px;
      background-image: url("../../media/img/counter.png");
      position: relative;
      .black-line{
        position: absolute;
        height: 2px;
        width: 58px;
        top: 34px;
        left: 15px;
        z-index: 10;
        background-color: $color-black;
      }
    }
    .count{
      font-size: 45px;
    }
    p{
      text-transform: uppercase;
      color: $color-black;
      margin-bottom: 6px;
    }
  }
}