<div class="row">
    <div class="container">
        <div class="pull-left left-side phone-image-box hide-sm-and-less"></div>
        <div class="pull-left right-side">
            <div class="logo-container">
                <span class="hide-xs-and-less">&nbsp;</span>
                <span>&nbsp;</span>
            </div>
            <h1 class="title">
                Zawsze <span class="color-yellow">rób</span> <br>
                cudowne <span class="color-yellow">zdjęcia</span>
            </h1>
            <h3 class="description">Lorem Ipsum is simply dummy text of the</h3>
            <h3 class="description">As been the industry standard dummy text</h3>
            <wp-timer></wp-timer>
        </div>
    </div>
</div>
<div class="bottom-bg"></div>