<div class="row">
    <div class="container">
        <span class="cursor-pointer" ng-click="ctrl.goToElement('header')">wróc do góry</span>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="span-md-6">
            <h2>Twitter</h2>
            <div ng-repeat="item in ctrl.data.twitter">
                <p class="content">{{item.content}}</p>
                <p class="info">{{item.dayAgo}} / <span class="cursor-pointer">Odpowiedz</span></p>
                <hr>
            </div>
        </div>
        <div class="span-md-8 span-lg-8 offset-md-2 offset-lg-2">
            <h2>O nas</h2>
            <p ng-repeat="item in ctrl.data.aboutAs">{{item}}</p>
        </div>
    </div>
</div>