/* --------  --------  --------  --------  --------  --------  --------  --------  -------- 
         mixin's
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */

@mixin linear-gradient-top-bottom($first-color, $second-color) {
  background: -webkit-linear-gradient($first-color, $second-color);
  background: -o-linear-gradient($first-color, $second-color);
  background: -moz-linear-gradient($first-color, $second-color);
  background: linear-gradient($first-color, $second-color);
}

@mixin rotate($deg){
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin mbp-reset() {
  margin: 0;
  border: 0;
  padding: 0;
}

@mixin shadow-inset($h, $v, $blur, $spread, $color){
  -webkit-box-shadow: $h $v $blur $spread $color inset;
  -moz-box-shadow: $h $v $blur $spread $color inset;
  box-shadow: $h $v $blur $spread $color inset;
}

/* --------  --------  --------  --------  --------  --------  --------  --------  -------- 
         single class
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
.pull-right {float: right !important;}
.pull-left {float: left !important;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.cursor-pointer{
  cursor: pointer;
}
.color-yellow{
  color: $color-yellow;
}

.margin-bottom-medium{
  margin-bottom: 30px;
}

.padding-tb-xxsmall{
  padding-top: 5px;
  padding-bottom: 5px;
} //docelowo należałoby tak jak w przypadki .span-XX w RWD zrobić marginy, paddingi itp dla min 5 wielkości