html{
  font-size: 1em;
  @include mbp-reset;
  body {
    @include mbp-reset;
    font-family: 'Open Sans', sans-serif;

    @import "elements/header";
    @import "elements/wp-timer";
    @import "elements/how-its-work";
    @import "elements/rotator";
    @import "elements/footer";

    h1{font-size: 4em;}
    h2{font-size: 2.5em;}

  }
}

