/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         RWD Variables
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-sm:                  800px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$default-gutter:             30px !default;
$default-grid-size:          16;
$container-xs:               100% !default;
$container-sm:               720px !default;
$container-md:               960px !default;
$container-lg:               1120px !default;

/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         row/container System
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
@mixin container-fixed($gutter) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

.row{width: 100%;}

.container {
  vertical-align: middle;
  max-width: 100%;
  @include container-fixed($default-gutter);
  @media (min-width: $screen-sm-min) {width: $container-sm;}
  @media (min-width: $screen-md-min) {width: $container-md;}
  @media (min-width: $screen-lg-min) {width: $container-lg;}
}

/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         Grid System
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */

[class*='span']{
  width: 100%;
  margin-right: -4px; //https://css-tricks.com/fighting-the-space-between-inline-block-elements/

}

@mixin single-span($span-size, $container-size, $min-screen-size){
  display: inline-block;
  vertical-align:top;
  @media(min-width: $min-screen-size) {
    width: $container-size / $default-grid-size * $span-size;
  }
}

@mixin single-offset($span-size, $container-size, $min-screen-size){
  @media(min-width: $min-screen-size) {
    margin-left: $container-size / $default-grid-size * $span-size;
  }
}

.span-xs-1{@include single-span(1, $container-xs, $screen-xs-min)};
.span-xs-2{@include single-span(2, $container-xs, $screen-xs-min)};
.span-xs-3{@include single-span(3, $container-xs, $screen-xs-min)};
.span-xs-4{@include single-span(4, $container-xs, $screen-xs-min)};
.span-xs-5{@include single-span(5, $container-xs, $screen-xs-min)};
.span-xs-6{@include single-span(6, $container-xs, $screen-xs-min)};
.span-xs-7{@include single-span(7, $container-xs, $screen-xs-min)};
.span-xs-8{@include single-span(8, $container-xs, $screen-xs-min)};
.span-xs-9{@include single-span(9, $container-xs, $screen-xs-min)};
.span-xs-10{@include single-span(10, $container-xs, $screen-xs-min)};
.span-xs-11{@include single-span(11, $container-xs, $screen-xs-min)};
.span-xs-12{@include single-span(12, $container-xs, $screen-xs-min)};
.span-xs-13{@include single-span(13, $container-xs, $screen-xs-min)};
.span-xs-14{@include single-span(14, $container-xs, $screen-xs-min)};
.span-xs-15{@include single-span(15, $container-xs, $screen-xs-min)};
.span-xs-16{@include single-span(16, $container-xs, $screen-xs-min)};

.span-sm-1{@include single-span(1, $container-sm, $screen-sm-min)};
.span-sm-2{@include single-span(2, $container-sm, $screen-sm-min)};
.span-sm-3{@include single-span(3, $container-sm, $screen-sm-min)};
.span-sm-4{@include single-span(4, $container-sm, $screen-sm-min)};
.span-sm-5{@include single-span(5, $container-sm, $screen-sm-min)};
.span-sm-6{@include single-span(6, $container-sm, $screen-sm-min)};
.span-sm-7{@include single-span(7, $container-sm, $screen-sm-min)};
.span-sm-8{@include single-span(8, $container-sm, $screen-sm-min)};
.span-sm-9{@include single-span(9, $container-sm, $screen-sm-min)};
.span-sm-10{@include single-span(10, $container-sm, $screen-sm-min)};
.span-sm-11{@include single-span(11, $container-sm, $screen-sm-min)};
.span-sm-12{@include single-span(12, $container-sm, $screen-sm-min)};
.span-sm-13{@include single-span(13, $container-sm, $screen-sm-min)};
.span-sm-14{@include single-span(14, $container-sm, $screen-sm-min)};
.span-sm-15{@include single-span(15, $container-sm, $screen-sm-min)};
.span-sm-16{@include single-span(16, $container-sm, $screen-sm-min)};

.span-md-1{@include single-span(1, $container-md, $screen-md-min)};
.span-md-2{@include single-span(2, $container-md, $screen-md-min)};
.span-md-3{@include single-span(3, $container-md, $screen-md-min)};
.span-md-4{@include single-span(4, $container-md, $screen-md-min)};
.span-md-5{@include single-span(5, $container-md, $screen-md-min)};
.span-md-6{@include single-span(6, $container-md, $screen-md-min)};
.span-md-7{@include single-span(7, $container-md, $screen-md-min)};
.span-md-8{@include single-span(8, $container-md, $screen-md-min)};
.span-md-9{@include single-span(9, $container-md, $screen-md-min)};
.span-md-10{@include single-span(10, $container-md, $screen-md-min)};
.span-md-11{@include single-span(11, $container-md, $screen-md-min)};
.span-md-12{@include single-span(12, $container-md, $screen-md-min)};
.span-md-13{@include single-span(13, $container-md, $screen-md-min)};
.span-md-14{@include single-span(14, $container-md, $screen-md-min)};
.span-md-15{@include single-span(15, $container-md, $screen-md-min)};
.span-md-16{@include single-span(16, $container-md, $screen-md-min)};

.span-lg-1{@include single-span(1, $container-lg, $screen-lg-min)};
.span-lg-2{@include single-span(2, $container-lg, $screen-lg-min)};
.span-lg-3{@include single-span(3, $container-lg, $screen-lg-min)};
.span-lg-4{@include single-span(4, $container-lg, $screen-lg-min)};
.span-lg-5{@include single-span(5, $container-lg, $screen-lg-min)};
.span-lg-6{@include single-span(6, $container-lg, $screen-lg-min)};
.span-lg-7{@include single-span(7, $container-lg, $screen-lg-min)};
.span-lg-8{@include single-span(8, $container-lg, $screen-lg-min)};
.span-lg-9{@include single-span(9, $container-lg, $screen-lg-min)};
.span-lg-10{@include single-span(10, $container-lg, $screen-lg-min)};
.span-lg-11{@include single-span(11, $container-lg, $screen-lg-min)};
.span-lg-12{@include single-span(12, $container-lg, $screen-lg-min)};
.span-lg-13{@include single-span(13, $container-lg, $screen-lg-min)};
.span-lg-14{@include single-span(14, $container-lg, $screen-lg-min)};
.span-lg-15{@include single-span(15, $container-lg, $screen-lg-min)};
.span-lg-16{@include single-span(16, $container-lg, $screen-lg-min)};


.offset-xs-1{@include single-offset(1, $container-xs, $screen-xs-min)};
.offset-xs-2{@include single-offset(2, $container-xs, $screen-xs-min)};
.offset-xs-3{@include single-offset(3, $container-xs, $screen-xs-min)};
.offset-xs-4{@include single-offset(4, $container-xs, $screen-xs-min)};
.offset-xs-5{@include single-offset(5, $container-xs, $screen-xs-min)};
.offset-xs-6{@include single-offset(6, $container-xs, $screen-xs-min)};
.offset-xs-7{@include single-offset(7, $container-xs, $screen-xs-min)};
.offset-xs-8{@include single-offset(8, $container-xs, $screen-xs-min)};
.offset-xs-9{@include single-offset(9, $container-xs, $screen-xs-min)};
.offset-xs-10{@include single-offset(10, $container-xs, $screen-xs-min)};
.offset-xs-11{@include single-offset(11, $container-xs, $screen-xs-min)};
.offset-xs-12{@include single-offset(12, $container-xs, $screen-xs-min)};
.offset-xs-13{@include single-offset(13, $container-xs, $screen-xs-min)};
.offset-xs-14{@include single-offset(14, $container-xs, $screen-xs-min)};
.offset-xs-15{@include single-offset(15, $container-xs, $screen-xs-min)};
.offset-xs-16{@include single-offset(16, $container-xs, $screen-xs-min)};

.offset-sm-1{@include single-offset(1, $container-sm, $screen-sm-min)};
.offset-sm-2{@include single-offset(2, $container-sm, $screen-sm-min)};
.offset-sm-3{@include single-offset(3, $container-sm, $screen-sm-min)};
.offset-sm-4{@include single-offset(4, $container-sm, $screen-sm-min)};
.offset-sm-5{@include single-offset(5, $container-sm, $screen-sm-min)};
.offset-sm-6{@include single-offset(6, $container-sm, $screen-sm-min)};
.offset-sm-7{@include single-offset(7, $container-sm, $screen-sm-min)};
.offset-sm-8{@include single-offset(8, $container-sm, $screen-sm-min)};
.offset-sm-9{@include single-offset(9, $container-sm, $screen-sm-min)};
.offset-sm-10{@include single-offset(10, $container-sm, $screen-sm-min)};
.offset-sm-11{@include single-offset(11, $container-sm, $screen-sm-min)};
.offset-sm-12{@include single-offset(12, $container-sm, $screen-sm-min)};
.offset-sm-13{@include single-offset(13, $container-sm, $screen-sm-min)};
.offset-sm-14{@include single-offset(14, $container-sm, $screen-sm-min)};
.offset-sm-15{@include single-offset(15, $container-sm, $screen-sm-min)};
.offset-sm-16{@include single-offset(16, $container-sm, $screen-sm-min)};

.offset-md-1{@include single-offset(1, $container-md, $screen-md-min)};
.offset-md-2{@include single-offset(2, $container-md, $screen-md-min)};
.offset-md-3{@include single-offset(3, $container-md, $screen-md-min)};
.offset-md-4{@include single-offset(4, $container-md, $screen-md-min)};
.offset-md-5{@include single-offset(5, $container-md, $screen-md-min)};
.offset-md-6{@include single-offset(6, $container-md, $screen-md-min)};
.offset-md-7{@include single-offset(7, $container-md, $screen-md-min)};
.offset-md-8{@include single-offset(8, $container-md, $screen-md-min)};
.offset-md-9{@include single-offset(9, $container-md, $screen-md-min)};
.offset-md-10{@include single-offset(10, $container-md, $screen-md-min)};
.offset-md-11{@include single-offset(11, $container-md, $screen-md-min)};
.offset-md-12{@include single-offset(12, $container-md, $screen-md-min)};
.offset-md-13{@include single-offset(13, $container-md, $screen-md-min)};
.offset-md-14{@include single-offset(14, $container-md, $screen-md-min)};
.offset-md-15{@include single-offset(15, $container-md, $screen-md-min)};
.offset-md-16{@include single-offset(16, $container-md, $screen-md-min)};

.offset-lg-1{@include single-offset(1, $container-lg, $screen-lg-min)};
.offset-lg-2{@include single-offset(2, $container-lg, $screen-lg-min)};
.offset-lg-3{@include single-offset(3, $container-lg, $screen-lg-min)};
.offset-lg-4{@include single-offset(4, $container-lg, $screen-lg-min)};
.offset-lg-5{@include single-offset(5, $container-lg, $screen-lg-min)};
.offset-lg-6{@include single-offset(6, $container-lg, $screen-lg-min)};
.offset-lg-7{@include single-offset(7, $container-lg, $screen-lg-min)};
.offset-lg-8{@include single-offset(8, $container-lg, $screen-lg-min)};
.offset-lg-9{@include single-offset(9, $container-lg, $screen-lg-min)};
.offset-lg-10{@include single-offset(10, $container-lg, $screen-lg-min)};
.offset-lg-11{@include single-offset(11, $container-lg, $screen-lg-min)};
.offset-lg-12{@include single-offset(12, $container-lg, $screen-lg-min)};
.offset-lg-13{@include single-offset(13, $container-lg, $screen-lg-min)};
.offset-lg-14{@include single-offset(14, $container-lg, $screen-lg-min)};
.offset-lg-15{@include single-offset(15, $container-lg, $screen-lg-min)};
.offset-lg-16{@include single-offset(16, $container-lg, $screen-lg-min)};


/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         Hidden element
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
@mixin hide-element($screen-size){
  @media(max-width: $screen-size){
    display: none!important;
  }
}

.hide-xs-and-less{@include hide-element($screen-xs)};
.hide-sm-and-less{@include hide-element($screen-sm-max)};
.hide-md-and-less{@include hide-element($screen-md-max)};
.hide{display: none!important;};

