/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         System colors
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
$color-black: #000;
$color-white: rgba(255, 255, 255, 1);
$color-yellow: rgba(252, 206, 0, 1);
$color-yellow-light: rgba(255, 251, 232, 1);
$color-gray-light: rgba(250, 250, 250, 1);
$color-blue: rgba(83, 184, 238, 1);
$color-gray-one: rgba(239, 239, 239, 1);
$color-gray-two: rgba(161, 161, 161, 1);
$color-gray-three: rgba(43, 43, 43, 1);