<div class="wp-timer">
    <div>
        <div class="counter-box pull-left hide-xs-and-less">
            <div class="content">
                <span>Zostało</span>
                <span>tylko</span>
            </div>
        </div>
        <div class="counter-box" ng-repeat="item in toEndOfDay">
            <div class="counter-bg text-center">
                <div class="black-line"></div>
                <span class="count" ng-bind="item.value"></span>
            </div>
            <p class="text-center">{{item.text}}</p>
        </div>
    </div>
</div>
