<div id="howItsWorkPortlet">
    <div class="row">
        <div class="container">
            <h1 class="text-center title">Jak to działa ?</h1>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="span-xs-16 span-sm-8 span-md-4 span-lg-4 text-center margin-bottom-medium square-container"
                 ng-repeat="item in ctrl.data.squares">
                <div class="square text-center">
                    <div class="square-content">
                        <div class="image {{item.img}}"></div>
                        <p><strong>{{item.title}}</strong></p>
                        <p ng-bind="item.description"></p>
                    </div>
                </div>
                <div class="arrow hide-sm-and-less"
                     ng-if="$index != ctrl.data.squares.length -1"></div>
            </div>
        </div>
    </div>
</div>

<div id="rotatorPortlet">
    <div class="row">
        <div class="container">
            <div class="slider-container"
                 ng-mouseover="ctrl.data.rotator.isMouseOver = true"
                 ng-mouseleave="ctrl.data.rotator.isMouseOver = false">
                <div class="arrows-container hide-sm-and-less">
                    <span class="arrow left" ng-click="ctrl.data.rotator.nextSlide()"></span>
                    <span class="arrow right" ng-click="ctrl.data.rotator.prevSlide()"></span>
                </div>
                <div ng-repeat="item in ctrl.data.rotator.slides"
                     class="slide animate-show"
                     ng-hide="!ctrl.data.rotator.isCurrentIndex($index)">
                    <div class="slider-image">
                        <img ng-src="{{item.image}}" alt="">
                    </div>
                    <div class="slider-content">
                        <div class="text-content">
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="hide-sm-and-less text-center">
                <ul>
                    <li class="dot" ng-repeat="item in ctrl.data.rotator.slides">
                        <span ng-class="{'active': ctrl.data.rotator.isCurrentIndex($index)}"
                           ng-click="ctrl.data.rotator.setCurrentIndex($index);"></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>