/*
  FONT Oswald
    Normal 400
    Bold 700
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
/*
  FONT Open Sans
    Light 300
    Normal 400
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         RWD Variables
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         row/container System
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
.row {
  width: 100%; }

.container {
  vertical-align: middle;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 800px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1120px; } }

/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         Grid System
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
[class*='span'] {
  width: 100%;
  margin-right: -4px; }

.span-xs-1 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-1 {
      width: 6.25%; } }

.span-xs-2 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-2 {
      width: 12.5%; } }

.span-xs-3 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-3 {
      width: 18.75%; } }

.span-xs-4 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-4 {
      width: 25%; } }

.span-xs-5 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-5 {
      width: 31.25%; } }

.span-xs-6 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-6 {
      width: 37.5%; } }

.span-xs-7 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-7 {
      width: 43.75%; } }

.span-xs-8 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-8 {
      width: 50%; } }

.span-xs-9 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-9 {
      width: 56.25%; } }

.span-xs-10 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-10 {
      width: 62.5%; } }

.span-xs-11 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-11 {
      width: 68.75%; } }

.span-xs-12 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-12 {
      width: 75%; } }

.span-xs-13 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-13 {
      width: 81.25%; } }

.span-xs-14 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-14 {
      width: 87.5%; } }

.span-xs-15 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-15 {
      width: 93.75%; } }

.span-xs-16 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 480px) {
    .span-xs-16 {
      width: 100%; } }

.span-sm-1 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-1 {
      width: 45px; } }

.span-sm-2 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-2 {
      width: 90px; } }

.span-sm-3 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-3 {
      width: 135px; } }

.span-sm-4 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-4 {
      width: 180px; } }

.span-sm-5 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-5 {
      width: 225px; } }

.span-sm-6 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-6 {
      width: 270px; } }

.span-sm-7 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-7 {
      width: 315px; } }

.span-sm-8 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-8 {
      width: 360px; } }

.span-sm-9 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-9 {
      width: 405px; } }

.span-sm-10 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-10 {
      width: 450px; } }

.span-sm-11 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-11 {
      width: 495px; } }

.span-sm-12 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-12 {
      width: 540px; } }

.span-sm-13 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-13 {
      width: 585px; } }

.span-sm-14 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-14 {
      width: 630px; } }

.span-sm-15 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-15 {
      width: 675px; } }

.span-sm-16 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .span-sm-16 {
      width: 720px; } }

.span-md-1 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-1 {
      width: 60px; } }

.span-md-2 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-2 {
      width: 120px; } }

.span-md-3 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-3 {
      width: 180px; } }

.span-md-4 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-4 {
      width: 240px; } }

.span-md-5 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-5 {
      width: 300px; } }

.span-md-6 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-6 {
      width: 360px; } }

.span-md-7 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-7 {
      width: 420px; } }

.span-md-8 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-8 {
      width: 480px; } }

.span-md-9 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-9 {
      width: 540px; } }

.span-md-10 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-10 {
      width: 600px; } }

.span-md-11 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-11 {
      width: 660px; } }

.span-md-12 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-12 {
      width: 720px; } }

.span-md-13 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-13 {
      width: 780px; } }

.span-md-14 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-14 {
      width: 840px; } }

.span-md-15 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-15 {
      width: 900px; } }

.span-md-16 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 992px) {
    .span-md-16 {
      width: 960px; } }

.span-lg-1 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-1 {
      width: 70px; } }

.span-lg-2 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-2 {
      width: 140px; } }

.span-lg-3 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-3 {
      width: 210px; } }

.span-lg-4 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-4 {
      width: 280px; } }

.span-lg-5 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-5 {
      width: 350px; } }

.span-lg-6 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-6 {
      width: 420px; } }

.span-lg-7 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-7 {
      width: 490px; } }

.span-lg-8 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-8 {
      width: 560px; } }

.span-lg-9 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-9 {
      width: 630px; } }

.span-lg-10 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-10 {
      width: 700px; } }

.span-lg-11 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-11 {
      width: 770px; } }

.span-lg-12 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-12 {
      width: 840px; } }

.span-lg-13 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-13 {
      width: 910px; } }

.span-lg-14 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-14 {
      width: 980px; } }

.span-lg-15 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-15 {
      width: 1050px; } }

.span-lg-16 {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 1200px) {
    .span-lg-16 {
      width: 1120px; } }

@media (min-width: 480px) {
  .offset-xs-1 {
    margin-left: 6.25%; } }

@media (min-width: 480px) {
  .offset-xs-2 {
    margin-left: 12.5%; } }

@media (min-width: 480px) {
  .offset-xs-3 {
    margin-left: 18.75%; } }

@media (min-width: 480px) {
  .offset-xs-4 {
    margin-left: 25%; } }

@media (min-width: 480px) {
  .offset-xs-5 {
    margin-left: 31.25%; } }

@media (min-width: 480px) {
  .offset-xs-6 {
    margin-left: 37.5%; } }

@media (min-width: 480px) {
  .offset-xs-7 {
    margin-left: 43.75%; } }

@media (min-width: 480px) {
  .offset-xs-8 {
    margin-left: 50%; } }

@media (min-width: 480px) {
  .offset-xs-9 {
    margin-left: 56.25%; } }

@media (min-width: 480px) {
  .offset-xs-10 {
    margin-left: 62.5%; } }

@media (min-width: 480px) {
  .offset-xs-11 {
    margin-left: 68.75%; } }

@media (min-width: 480px) {
  .offset-xs-12 {
    margin-left: 75%; } }

@media (min-width: 480px) {
  .offset-xs-13 {
    margin-left: 81.25%; } }

@media (min-width: 480px) {
  .offset-xs-14 {
    margin-left: 87.5%; } }

@media (min-width: 480px) {
  .offset-xs-15 {
    margin-left: 93.75%; } }

@media (min-width: 480px) {
  .offset-xs-16 {
    margin-left: 100%; } }

@media (min-width: 800px) {
  .offset-sm-1 {
    margin-left: 45px; } }

@media (min-width: 800px) {
  .offset-sm-2 {
    margin-left: 90px; } }

@media (min-width: 800px) {
  .offset-sm-3 {
    margin-left: 135px; } }

@media (min-width: 800px) {
  .offset-sm-4 {
    margin-left: 180px; } }

@media (min-width: 800px) {
  .offset-sm-5 {
    margin-left: 225px; } }

@media (min-width: 800px) {
  .offset-sm-6 {
    margin-left: 270px; } }

@media (min-width: 800px) {
  .offset-sm-7 {
    margin-left: 315px; } }

@media (min-width: 800px) {
  .offset-sm-8 {
    margin-left: 360px; } }

@media (min-width: 800px) {
  .offset-sm-9 {
    margin-left: 405px; } }

@media (min-width: 800px) {
  .offset-sm-10 {
    margin-left: 450px; } }

@media (min-width: 800px) {
  .offset-sm-11 {
    margin-left: 495px; } }

@media (min-width: 800px) {
  .offset-sm-12 {
    margin-left: 540px; } }

@media (min-width: 800px) {
  .offset-sm-13 {
    margin-left: 585px; } }

@media (min-width: 800px) {
  .offset-sm-14 {
    margin-left: 630px; } }

@media (min-width: 800px) {
  .offset-sm-15 {
    margin-left: 675px; } }

@media (min-width: 800px) {
  .offset-sm-16 {
    margin-left: 720px; } }

@media (min-width: 992px) {
  .offset-md-1 {
    margin-left: 60px; } }

@media (min-width: 992px) {
  .offset-md-2 {
    margin-left: 120px; } }

@media (min-width: 992px) {
  .offset-md-3 {
    margin-left: 180px; } }

@media (min-width: 992px) {
  .offset-md-4 {
    margin-left: 240px; } }

@media (min-width: 992px) {
  .offset-md-5 {
    margin-left: 300px; } }

@media (min-width: 992px) {
  .offset-md-6 {
    margin-left: 360px; } }

@media (min-width: 992px) {
  .offset-md-7 {
    margin-left: 420px; } }

@media (min-width: 992px) {
  .offset-md-8 {
    margin-left: 480px; } }

@media (min-width: 992px) {
  .offset-md-9 {
    margin-left: 540px; } }

@media (min-width: 992px) {
  .offset-md-10 {
    margin-left: 600px; } }

@media (min-width: 992px) {
  .offset-md-11 {
    margin-left: 660px; } }

@media (min-width: 992px) {
  .offset-md-12 {
    margin-left: 720px; } }

@media (min-width: 992px) {
  .offset-md-13 {
    margin-left: 780px; } }

@media (min-width: 992px) {
  .offset-md-14 {
    margin-left: 840px; } }

@media (min-width: 992px) {
  .offset-md-15 {
    margin-left: 900px; } }

@media (min-width: 992px) {
  .offset-md-16 {
    margin-left: 960px; } }

@media (min-width: 1200px) {
  .offset-lg-1 {
    margin-left: 70px; } }

@media (min-width: 1200px) {
  .offset-lg-2 {
    margin-left: 140px; } }

@media (min-width: 1200px) {
  .offset-lg-3 {
    margin-left: 210px; } }

@media (min-width: 1200px) {
  .offset-lg-4 {
    margin-left: 280px; } }

@media (min-width: 1200px) {
  .offset-lg-5 {
    margin-left: 350px; } }

@media (min-width: 1200px) {
  .offset-lg-6 {
    margin-left: 420px; } }

@media (min-width: 1200px) {
  .offset-lg-7 {
    margin-left: 490px; } }

@media (min-width: 1200px) {
  .offset-lg-8 {
    margin-left: 560px; } }

@media (min-width: 1200px) {
  .offset-lg-9 {
    margin-left: 630px; } }

@media (min-width: 1200px) {
  .offset-lg-10 {
    margin-left: 700px; } }

@media (min-width: 1200px) {
  .offset-lg-11 {
    margin-left: 770px; } }

@media (min-width: 1200px) {
  .offset-lg-12 {
    margin-left: 840px; } }

@media (min-width: 1200px) {
  .offset-lg-13 {
    margin-left: 910px; } }

@media (min-width: 1200px) {
  .offset-lg-14 {
    margin-left: 980px; } }

@media (min-width: 1200px) {
  .offset-lg-15 {
    margin-left: 1050px; } }

@media (min-width: 1200px) {
  .offset-lg-16 {
    margin-left: 1120px; } }

/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         Hidden element
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
@media (max-width: 480px) {
  .hide-xs-and-less {
    display: none !important; } }

@media (max-width: 991px) {
  .hide-sm-and-less {
    display: none !important; } }

@media (max-width: 1199px) {
  .hide-md-and-less {
    display: none !important; } }

.hide {
  display: none !important; }

/* --------  --------  --------  --------  --------  --------  --------  --------  --------
         System colors
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
/* --------  --------  --------  --------  --------  --------  --------  --------  -------- 
         mixin's
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
/* --------  --------  --------  --------  --------  --------  --------  --------  -------- 
         single class
 --------  --------  --------  --------  --------  --------  --------  --------  -------- */
.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.cursor-pointer {
  cursor: pointer; }

.color-yellow {
  color: #fcce00; }

.margin-bottom-medium {
  margin-bottom: 30px; }

.padding-tb-xxsmall {
  padding-top: 5px;
  padding-bottom: 5px; }

html {
  font-size: 1em;
  margin: 0;
  border: 0;
  padding: 0; }
  html body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; }
    html body header {
      background-image: url("../../media/img/headerBackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: white;
      position: relative;
      min-height: 730px; }
      html body header .left-side {
        height: 730px;
        width: 448px;
        display: inline-block;
        position: relative;
        z-index: 10; }
        html body header .left-side.phone-image-box {
          background-image: url("../../media/img/iphone.png");
          background-repeat: no-repeat;
          background-size: contain; }
      html body header .right-side {
        position: relative;
        display: inline-block;
        z-index: 10;
        height: 730px; }
        html body header .right-side .logo-container {
          margin-top: 50px; }
          html body header .right-side .logo-container span {
            background-repeat: no-repeat;
            background-size: auto;
            display: inline-block; }
          html body header .right-side .logo-container span:first-of-type {
            width: 81px;
            height: 81px;
            background-image: url("../../media/img/logo.png"); }
          html body header .right-side .logo-container span:nth-of-type(2) {
            margin-left: 28px;
            width: 321px;
            height: 57px;
            background-image: url("../../media/img/logotyp.png"); }
        html body header .right-side .title {
          text-transform: uppercase;
          font-family: 'Oswald', sans-serif; }
        html body header .right-side .description {
          font-weight: 100; }
        html body header .right-side wp-timer {
          position: absolute;
          bottom: 0; }
      html body header .bottom-bg {
        position: absolute;
        width: 100%;
        height: 140px;
        bottom: 0;
        background-color: #fafafa; }
    html body .wp-timer {
      font-family: 'Oswald', sans-serif; }
      html body .wp-timer .counter-box {
        color: white;
        display: inline-block; }
        html body .wp-timer .counter-box:first-child {
          position: relative;
          width: 104px;
          height: 77px;
          background-image: url("../../media/img/counter_title.png");
          background-repeat: no-repeat;
          padding-top: 10px;
          padding-left: 20px; }
        html body .wp-timer .counter-box .content {
          color: #000; }
          html body .wp-timer .counter-box .content span {
            text-transform: uppercase;
            font-size: 16px; }
            html body .wp-timer .counter-box .content span:nth-child(2) {
              font-size: 24px; }
        html body .wp-timer .counter-box .counter-bg {
          width: 88px;
          height: 79px;
          background-image: url("../../media/img/counter.png");
          position: relative; }
          html body .wp-timer .counter-box .counter-bg .black-line {
            position: absolute;
            height: 2px;
            width: 58px;
            top: 34px;
            left: 15px;
            z-index: 10;
            background-color: #000; }
        html body .wp-timer .counter-box .count {
          font-size: 45px; }
        html body .wp-timer .counter-box p {
          text-transform: uppercase;
          color: #000;
          margin-bottom: 6px; }
    html body #howItsWorkPortlet .title {
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-weight: 700; }
    html body #howItsWorkPortlet .square-container {
      min-height: 300px;
      position: relative; }
      html body #howItsWorkPortlet .square-container .square {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.3) inset;
        -moz-box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.3) inset;
        box-shadow: 4px 8px 20px 0 rgba(0, 0, 0, 0.3) inset;
        width: 190px;
        height: 190px;
        margin-top: 10px;
        border-width: 15px;
        border-style: solid;
        display: inline-block;
        background-color: white;
        border-color: #53b8ee;
        transition: all 0.3s;
        transition-property: all;
        transition-timing-function: linear; }
        html body #howItsWorkPortlet .square-container .square:hover {
          background-color: #fffbe8;
          border-color: #fcce00;
          z-index: 10;
          width: 210px;
          height: 210px;
          margin-top: 0; }
        html body #howItsWorkPortlet .square-container .square .square-content {
          padding-top: 15px;
          width: 100%;
          height: 100%; }
          html body #howItsWorkPortlet .square-container .square .square-content .image {
            margin: 0 auto;
            width: 56px;
            height: 53px;
            background-image: url("./../../media/img/how_its_works_icon.png");
            background-repeat: no-repeat; }
            html body #howItsWorkPortlet .square-container .square .square-content .image.person {
              background-position: 0 0; }
            html body #howItsWorkPortlet .square-container .square .square-content .image.phone {
              background-position: -56px 0; }
            html body #howItsWorkPortlet .square-container .square .square-content .image.exc {
              background-position: -112px 0; }
            html body #howItsWorkPortlet .square-container .square .square-content .image.order {
              background-position: -168px 0; }
      html body #howItsWorkPortlet .square-container .arrow {
        background-image: url("./../../media/img/how_its_works_arrow.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 43px;
        height: 31px;
        right: -12px;
        top: 107px;
        z-index: -10; }
    html body #rotatorPortlet .slider-container {
      position: relative;
      height: 416px;
      width: 100%;
      background-color: #efefef; }
      html body #rotatorPortlet .slider-container .slide {
        position: absolute;
        width: 100%;
        height: 100%; }
        html body #rotatorPortlet .slider-container .slide .slider-image {
          position: absolute;
          left: 100px; }
          @media (max-width: 400px) {
            html body #rotatorPortlet .slider-container .slide .slider-image img {
              display: none; } }
        html body #rotatorPortlet .slider-container .slide .slider-content {
          position: absolute;
          right: 100px;
          top: 100px;
          height: 100%; }
          @media (max-width: 991px) {
            html body #rotatorPortlet .slider-container .slide .slider-content {
              position: relative;
              width: 100%;
              right: 0; } }
          html body #rotatorPortlet .slider-container .slide .slider-content .text-content {
            background-color: white;
            padding: 20px;
            width: 300px; }
      html body #rotatorPortlet .slider-container .arrows-container {
        position: absolute;
        width: 100%;
        z-index: 10; }
        html body #rotatorPortlet .slider-container .arrows-container .arrow {
          width: 64px;
          height: 65px;
          background-image: url("./../../media/img/arrow_left.png");
          background-repeat: no-repeat;
          top: 180px;
          display: block;
          position: absolute; }
          html body #rotatorPortlet .slider-container .arrows-container .arrow.left {
            left: 10px; }
          html body #rotatorPortlet .slider-container .arrows-container .arrow.right {
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            right: 10px; }
    html body #rotatorPortlet nav {
      width: 100%; }
      html body #rotatorPortlet nav ul li {
        display: inline-block; }
        html body #rotatorPortlet nav ul li span {
          width: 18px;
          height: 17px;
          background-image: url("./../../media/img/dots.png");
          background-repeat: no-repeat;
          background-position: right;
          display: block; }
          html body #rotatorPortlet nav ul li span.active {
            background-position: left; }
    html body #rotatorPortlet .animate-show {
      opacity: 1; }
      html body #rotatorPortlet .animate-show.ng-hide-add, html body #rotatorPortlet .animate-show.ng-hide-remove {
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: linear; }
      html body #rotatorPortlet .animate-show.ng-hide {
        opacity: 0; }
    html body footer {
      font-size: 0.8em; }
      html body footer .row:first-child {
        height: 25px;
        background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, white 2px, white 4px); }
        html body footer .row:first-child span {
          float: right; }
      html body footer .row:nth-child(2) {
        background-image: url("../../media/img/footerBackground.jpg");
        background-repeat: repeat;
        color: white; }
        html body footer .row:nth-child(2) .info {
          font-size: 0.9em;
          color: #a1a1a1; }
        html body footer .row:nth-child(2) hr {
          border-color: #a1a1a1; }
    html body h1 {
      font-size: 4em; }
    html body h2 {
      font-size: 2.5em; }

/*# sourceMappingURL=all.css.map */
